@use "../config/mixins" as *;

/**************************************************
p-assets
***************************************************/

.p-assets{

  code{
    background-color: $grayf3;
    border: 1px solid $gray;
    padding: 16px;
    display: block;
    margin: 16px 0 30px;
    border-radius: 3px;
    em{
      color:$red;
    }
  }
  &__head{
    background-color: $grayccc;
    padding: 10px 16px;
    font-size: 2rem;
    scroll-margin-top:200px;
    margin-bottom: 40px;
  }
}
