@use "../config/mixins" as *;

/**************************************************
p-club スライダー
***************************************************/

.p-club{
    .swiper-container {
        width: 100%;
        overflow: hidden;

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &.swiper-club{
          img{
            height: 60vw;
            @include mq(pc){
              height: 346px;
            }
          }
        }

        &.slider-thumbnail {
          margin-top: 1%;
          .swiper-wrapper {
            gap:1%;
            .swiper-slide {
              width: 24.25%;
              height: 100%;
              opacity: .5;
              overflow: hidden;
              height: 16vw;
              @include mq(pc){
                height: 92px;
                cursor: pointer;
              }
              &.swiper-slide-thumb-active {
                opacity: 1;
              }
            }
          }
        }
      }
}


/**************************************************
p-club 詳細
***************************************************/
.p-club{
  padding-bottom: 80px;

  &__ttl{
    text-align: center;
    font-family: $mincho;
    font-size: 3.2rem;
    color:$red;
    padding: 40px 0 0;
    @include mq(pc){
      font-size: 3.6rem;
      padding: 100px 0 20px;
    }
  }

  h2{
    font-size: 2.6rem;
    margin-top: 40px;
    @include mq(pc){
      font-size: 2.8rem;
      margin-top: 53px;
    }
  }

  &__mes{
    @include mq(pc){
      display: flex;
    }
  }

  &__slider{
    @include mq(pc){
      width: 43%;
      flex: none;
      margin-right: 40px;
    }
  }
  &__text{
    margin-bottom: 40px;
    @include mq(pc){
      margin-bottom: 50px;
    }

    p {
        margin-top: 32px;
        @include mq(pc){
          margin-top: 0;
        }
      }

    a.insta{
      color: $textColor;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 700;
      @include mq(pc){
        justify-content: flex-start;
        &:hover{
          text-decoration: none;
        }
      }

      &::before{
        content:"";
        width: 37px;
        height: 37px;
        background: url(../img/common/icon/insta.png) no-repeat 50% 50% / contain;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  table{
    width: 100%;
  }

  td{
    padding: 17px 20px;
    display: block;
    @include mq(pc){
      display: table-cell;
      font-size: 1.8rem;
    }
    &:first-child{
      background-color: #E9818A;
      text-align: center;
      color:#fff;
      font-weight: 700;
      @include mq(pc){
        width: 326px;
        vertical-align: middle;
      }
    }
  }

  &__news{
    a{
      @include mq(pc){
        width: 23.5% !important;
      }
    }

  }
}


/**************************************************
p-club 一覧
***************************************************/

.p-club{
  &__title{
    padding: 24px 15px;
    text-align: center;
    background: url(../img/club/bg-clubtitle-sp.jpg) no-repeat 50% 50% / cover;
    margin-bottom: 32px;
    @include mq(pc){
      padding: 50px 0 60px;
      margin-top: 84px;
      margin-bottom: 64px;
      background: url(../img/club/bg-clubtitle.jpg) no-repeat 50% 50% / cover;
    }

    h1{
      color:$red;
      font-family: $mincho;
      font-size: 3.2rem;
      margin-bottom: 5px;
      @include mq(pc){
        font-size: 3.6rem;
      }
    }

    strong{
      font-family: $mincho;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 5px;
      display: block;
      @include mq(pc){
        font-size: 2.6rem;
        margin-bottom: 10px;
      }
    }

    p{
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 20px;
      @include mq(pc){
        font-size: 1.8rem;
        br{
          display: none;
        }
      }
    }
  }

  &__pagebtn{
    display: flex;
    flex-wrap:wrap;
    font-size: 1.8rem;
    font-weight: 700;
    width: 223px;
    margin: 0 auto 40px;
    @include mq(pc){
      width: 100%;
      justify-content: center;
      gap:47px;
      margin: 0 auto 60px;
    }
    li{
      width: 110px;
      @include mq(pc){
        width: auto;
      }

      &::before{
        content:"";
        width: 9px;
        height: 15px;
        background: url(../img/common/icon/arrow-red.png) no-repeat 50% 50% / contain;
        display: inline-block;
        transform: rotate(90deg);
        margin-right: 7px;
      }
    }

    a{
      @include mq(pc){
        &:hover{
          color:$red;
        }
      }
    }
  }

  &__archive{
    scroll-margin-top: 100px;
    margin-bottom: 50px;
    @include mq(pc){
      scroll-margin-top: 150px;
    }
    &__ttl{
      display: flex;
      align-items: center;
      justify-content: center;
      span{
        width: 55px;
        height: 16px;
        color:#fff;
        font-size: 1rem;
        margin-left: 14px;
        line-height: 1;
        display: grid;
        place-items: center;
        font-weight: 700;
        @include mq(pc){
          width: 92px;
          height: 26px;
          font-size: 1.4rem;
          margin-left: 16px;
        }
        &.pink{
          background-color: #C65B97;
        }
        &.orange{
          background-color: #DC6530;
        }
      }
    }
    &__wrap{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include mq(pc){
        justify-content: flex-start;
        gap:3%;
      }
    }
    h2{
      font-size: 2.6rem;
      @include mq(pc){
        font-size: 2.8rem;
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }

    h3{
      color: $textColor;
      font-family: $goshic;
      font-weight: 700;
      font-size: 1.4rem;
      margin-bottom: 0;
      @include mq(pc){
        font-size: 2.2rem;
        transition: $transition ease;
      }
    }

    a{
      text-decoration: none;
      display: block;
      text-align: center;
      width: 48%;
      margin-bottom: 24px;
        @include mq(pc) {
          width: 22.75%;
          transition: $transition ease;
          &:hover{
            opacity: .8;
            h3{
              color:$red;
            }
          }
        }
    }

    img{
      width: 100%;
      height: 30vw;
      object-fit: cover;
      margin-bottom: 5px;
      @include mq(pc){
        height: 180px;
      }
    }
  }

  &__link{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-block:40px 80px;
    @include mq(pc){
      gap: 3%;
      margin-block: 60px 80px;
    }
    a{
      width: 48%;
      display: block;
      text-align: center;
      margin-bottom: 20px;
      @include mq(pc){
        width: 30.333%;
        transition: $transition ease;
        &:hover{
          opacity: .8;
          display: block;
          h3{
            color:$red;
          }
        }
      }
    }
    img{
      width: 100%;
      margin-bottom: 6px;
    }
    h3{
      font-size: 1.6rem;
      font-weight: 700;
      @include mq(pc){
        font-size: 2.4rem;
        transition: $transition ease;
      }
    }
  }
}
