@use "../config/mixins" as *;

/**************************************************
common
***************************************************/

.l-common{
  padding: 30px 0;
  @include mq(pc){
    display: flex;
    justify-content: space-between;
    padding: 70px 0;

    article{
      width: 73%;
    }
  }

  .c-btn {
    width: 233px;
  }

  &__meta{
    display: flex;
    margin-bottom: 8px;
    time{
      font-size: 1.6rem;
      font-weight: 700;
      @include mq(pc){
        font-size: 1.8rem;
      }
    }

    span{
      width: 100px;
      height: 22px;
      color:#fff;
      display: grid;
      place-items: center;
      line-height: 1;
      font-size: 1.2rem;
      margin-left: 10px;
      font-weight: 700;
      @include mq(pc){
        font-size: 1.4rem;
        width: 122px;
        height: 26px;
      }
      &.event{
        background-color: $purple;
      }
      &.for_guardians{
        background-color: $green;
      }
      &.for_graduate{
        background-color: $pink;
      }
      &.exam{
        background-color: $navy;
      }
      &.club{
        background-color: $red;
      }
    }
  }

  &__ttl{
    font-size: 2.4rem;
    font-family: $mincho;
    border-bottom:2px solid $red;
    line-height: 1.4;
    padding-bottom: 15px;
    margin-bottom: 24px;
    @include mq(pc){
      font-size: 2.8rem;
    }
  }

  &__thumbnail{
    img{
      width: 100%;
      margin-bottom: 30px;
    }
  }

  &__body{
    padding-bottom: 30px;
    h2{
      font-size: 2.4rem;
      font-family: $mincho;
      border-bottom: 2px solid $red;
      line-height: 1.4;
      padding-bottom: 15px;
      margin-bottom: 24px;
    }
    h3{
      color:$red;
      font-family: $mincho;
      font-size: 1.8rem;
      margin-bottom: 16px;
    }
    h4{
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 20px;
      background-color: #f9f9f9;
      padding: 14px 16px;
      border-left:2px solid $red;
    }

    h5,h6{
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 14px;
    }

    p{
      font-size: 1.6rem;
      margin-bottom: 24px;
    }

    a{
      color:$red;
      text-decoration: underline;
    }

    em{
      font-style: italic;
    }

    ul{
      margin-bottom: 20px;
      li{
        &::before{
          content:"・";
          color:$red;
        }
      }
    }

    ol{
      list-style: decimal;
      margin-left: 20px;
      margin-bottom: 24px;
    }

    .wp-block-image{
      margin-block: 20px;
    }

    .wp-block-quote{
      background-color: #f9f9f9;
      padding: 18px;
      font-size: 1.4rem;
      margin-bottom: 24px;
      p{
        margin: 0;
      }
      cite{
        display: block;
        text-align: right;
        margin-top: 8px;
      }
    }

    .wp-block-table,.club-table,.event-table{
      margin-bottom: 24px;
      thead{
        border-width: 6px;
        white-space: nowrap;
        border-color: #fff;
      }
      tfoot{
        border-width: 6px !important;
        white-space: nowrap;
        border-color: #fff;
      }
      th{
        background-color: #E9818A;
        color:#fff;
        border-color:#fff;
        border-width: 3px !important;
        @include mq(pc){
          border-width: 6px !important;
        }
      }
      td{
        border-color: #fff;
        background-color: #F8F8F8;
        border-width: 3px !important;
          @include mq(pc) {
            border-width: 6px !important;
          }
      }

    }

    .wp-element-caption{
      font-size: 1.4rem;
      margin-top: 5px;
    }

    .wp-block-file{
      margin-bottom: 24px;
    }

    .wp-block-file *+.wp-block-file__button{
      text-decoration: none;
      color:#fff;
      padding: 0 10px;
    }


  }

}
