@use "../config/mixins" as *;


/**************************************************
c-list
***************************************************/
.c-list{
  li{
    position: relative;
    padding-left: 1em;
    margin-bottom: 8px;
    &::before{
      content:"";
      width: 8px;
      height: 8px;
      background-color: $red;
      position: absolute;
      top:8px;
      left: 0;
      border-radius: 50%;
    }
  }
}
/**************************************************
c-listLink
***************************************************/

.c-listLink{
  &.is-flex{
    @include mq(pc){
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
    }
  }
  &.is-bold{
    a{
      font-weight: 700;
    }
  }
  a{
    text-decoration: underline;
    margin-bottom: 8px;
    display: inline-block;
    font-weight: 500;
    @include mq(pc){
      &:hover{
        text-decoration: none;
        color:$red;
      }
    }

    &[href$=".pdf"]{
      position: relative;
      padding-left: 30px;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background: url(../img/common/icon/pdf.svg) no-repeat 50% 50% / contain;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 3px;
      }
    }
  }


}


/**************************************************
c-listLink
***************************************************/

.c-listNum {
  list-style: decimal;
  margin-left: 1.6em;
  @include mq(pc){
    margin-left: 2em;
  }
  &.is-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  &.is-bold {
    a {
      font-weight: 700;
    }
  }

  a {
    text-decoration: underline;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 500;

    @include mq(pc) {
      &:hover {
        text-decoration: none;
        color: $red;
      }
    }

    &[href$=".pdf"] {
      position: relative;
      padding-left: 36px;

      &::before {
        content: "";
        width: 26px;
        height: 26px;
        background: url(../img/common/icon/pdf.svg) no-repeat 50% 50% / contain;
        display: inline-block;
        margin-right: 10px;
        position: absolute;
        left: 0;
      }
    }
  }


}
